{% extends "base.html" %}

{% block content %}

<div id="hero" class="container h-full text-center">
    <div class="row h-half hero-title">
        <div class="col-12">
            <h1>Welcome to {{ storename }}</h1>
        </div>
    </div>
    <div class="row h-half hero-cell">
        <div class="col-4"><a class="but-link" href="{% url 'all_products' %}">Browse our wares</a></div>
        <div class="col-4"><a class="but-link" href="{% url 'all_categories' %}">View our Categories</a></div>
        <div class="col-4"><a class="but-link" href="{% url 'all_products' %}">Get to Know us</a></div>
    </div>
</div>

{% endblock %}