{% extends "base.html" %}

{% block content %}

<p>All Products Below</p>
<div class="container-fluid">
    <div class="row">
        {% for cat in current_categories %}
        {{ cat }}
        {% endfor %} 
    </div>
    <div class="row">
    
        {% for product in products %}
        <div class="col-sm-4">
            <h1>{{ product }}</h1>
            {{ product.category }}
            <a href="{% url 'product' product.id %}">Click Here</a>
        </div>
        {% endfor %}
        
    </div>
</div>






{% endblock %}