{% extends "base.html" %}
{% load static %}
{% block content %}

<p>All Products Below</p>
<div class="container">
    {% for cat in categories %}
    {% if cat.prods %}
    <div class="row">
        <div class="col-12">
            <h1 class="cat-header">{{ cat }}</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-12 text-center">
            {% for sub in cat.children.all %}
            {% if sub.products.all %}
            {% if not forloop.first %} | {% endif %}<a href="{% url 'all_products' %}?category={{ sub }}">{{ sub }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        {% for product in cat.prods %}

        <div class="col-sm-3">
            <div class="product-cell">
                <img class="product-tile"
                    src="{% if product.external_image %}{{ product.external_image}}{% else %}{% static 'images/no-image' %}{% cycle '1' '2' '3' %}.bmp{% endif %}"
                    alt="{{ product.name }} Image">
            </div>
            <div class="product-card-details">
                <h3>{{ product|truncatechars:30 }}</h3>
                <a href="{% url 'product' product.id %}">Click Here</a>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endif %}
    

    {% endfor %}
</div>






{% endblock %}