{% extends "base.html" %}
{% load static %}

{% block pre_js %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
<div id="card-errors"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <form id="payment-form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    {% for x in form %}
                    <div class="col-12">
                        {{ x.label }}:
                    </div>
                    <div class="col-12">
                        {{ x }}
                    </div>
                    {% endfor %}
                    <div class="col-12">
                        <input type="submit" value="Pay Now">
                    </div>
                    <div id="card-element"></div>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-8">
                    <h2>Item</h2>
                </div>
                <div class="col-2">
                    <h2>Quantity</h2>
                </div>
                <div class="col-2">
                    <h2>Sub-Total</h2>
                </div>

            </div>
            {% for item in cart_items %}
            <div class="row">
                <div class="col-6">
                    {{ item.product.name }}
                </div>
                <div class="col-3">
                    {{ item.quantity }}
                </div>
                <div class="col-3">
                    {{ item.total }}
                </div>

            </div>
            {% endfor %}
            <div class="row">
                <div class="col-9">Total</div>
                <div class="col-3">{{ total }}</div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block post_js %}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}